@import url("https://fonts.googleapis.com/css?family=Overpass");


.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-i4bv87-MuiSvgIcon-root{
  font-size: 1rem;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
}

.tags-input {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  min-width: 0; 
  min-height: 56px; 
  padding: 0 14px;
    margin: 0;
  border: 1px solid #d6d8da;
  border-radius: 6px;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133))
}
.tags-input:focus-within {
  border: 1px solid #0052cc;
}
.tags-input input {
  flex: 1;
  border: none;
  height: 46px;
  font-size: 14px;
  padding: 5px 0 0 0;
}
.tags-input input:focus {
  outline: transparent;
}

#tags {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  
}

.tag {
  width: auto;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 0 8px;
  font-size: 14px;
  list-style: none;
  border-radius: 6px;
  margin: 10px 7px 7px 0;
  background: #0052cc;
}
.tag .tag-title {
  margin-top: 3px;
}
.tag .tag-close-icon {
  display: block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  font-size: 14px;
  margin-left: 8px;
  color: #0052cc;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
}

